/* reset */
$base-bg: #FFF; 
$base-font-size: 62.5%; 
$base-line-height: 1; 
$custom-font-family: 'Roboto', sans-serif; 
$link-color: #89c25d;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #515357;
$text-color2: #44434a;
$text-color3: #fff;
$text-color4: #bbbbbb;
$text-color5: #89c25d;
$title-color: #fff;
$title-color2: #515357;
$title-font-family: 'RobotoSlab', sans-serif;;

$font-size-h1: 4.8rem;
$line-height-h1: 90px;
$font-size-h2: 8rem;
$line-height-h2: 80px;
$font-size-h3: 5rem;
$line-height-h3: 50px;

$bg-color: #191919;
$bg-color2: #7dae61;
$bg-color3: #48484b;
$bg-color4: #fff;
$bg-color5: #79ac5d;
$bg-color6: #d37258;